<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="body">
			<h2>Cervisium Brewery</h2>

			<div class="biggerText">
				<p>The Cervisium brewery is a home brewing cooperative based in Eagan, MN. It began in 2007 as
				FORTUNE Brewery, which was a simple 5 gallon all-grain setup used at a house in St. Paul. Several
				excellent recipes were developed over the next year. In that time a friend also started his own operation,
				Barbaric brewery. For years, brewing continued on patios and in garages as the weather permitted.</p>
				
				<p>In the spring of 2012, another friend started brewing in Eagan. At this point there was a lot of
				equipment sharing going on, and finally we decided to consolidate our resources and begin construction
				of a larger, permanent, year-round indoor home brewery.</p>
				
				<p>The Cervisium, or "Place of Beer" (no legitimate etymology) is to be a 16 gallon, all grain, all electric
				brewery built in a dedicated room. The system will consist of an electric HLT, a HERMS equipped mash tun, and
				an electric boil kettle with a motorized whirlpool arm and glycol immersion chiller. There will be full support
				for 16 gallon fermentation, lagering, and kegging into both cornelius and sanke kegs.</p>
			</div>
			
			<h2>The Cervisium Website</h2>
			
			<div class="biggerText">
				<p>This website is a refresh of the original FORTUNE Brewery website. The original supported recording
				of basic brew logs and key information about recipes. Unfortunately, the feature for storing the actual
				recipes was never completed, and some of that data was lost. Recently, however, all of the original
				BeerTools Pro files with the recipe details were found! This prompted an effort to finish the site
				to ensure the brew log is never lost or incomplete again.</p>
				
				<p>The Cervisium website now imports and parses our BeerTools files so that the full details of the
				ingredients and events of every given brew can be easily recorded and shared. The site also holds on to each
				file attached to a given recipe, formulation, or brewing so that visitors may download it.</p>
				
				<p>The site has also been designed with a basic multi-tenancy structure in place. In the future we may
				offer the use of our brew log and inventory calendar to other brewers via web services. Email the webmaster
				if this would be of interest to you.</p>
			</div>
			
			<h2>Acknowledgments</h2>
			
			<div class="biggerText">
				<p><strong>Brewers: </strong>Justin Mushel, Thaddeus Hogan, John Tracy, and Nathan Foreman</p>
				<p><strong>Branding and Graphic Design: </strong>Fanchion Guderian. (<a href="http://www.fanchion.com/">Website</a>)</p>
				<p><strong>Web Application Programming: </strong>Thaddeus Hogan (<a href="http://www.thogan.com/">Website</a>)</p>
				<p>Lots of helpful information for designing an all-electric brewery came from <a href="http://www.theelectricbrewery.com/">The Electric Brewery</a>.</p>
				<p>This website was built using PrimeFaces 3.3, JSF 2, and Java EE6 running on JBoss Application Server 7.1.
				The backing database is PostgreSQL 9.1.</p>
			</div>
		</ui:define>
	</ui:composition>
</body>
</html>
