<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="body">
			<h:outputStylesheet library="css" name="inventory.css" />
			<h2>Inventory</h2>
			
			<ui:repeat var="item" value="#{inventory.inventoryItems}">
				<div class="invItem">
					<div class="invItemImg">
						<h:graphicImage library="img" name="#{item.imageFile}" />
					</div>
					<div class="invItemDetail">
						<h:link outcome="/recipes/brewings/edit">
							<f:param name="id" value="#{item.brewingId}" />
							<h3><h:outputText value="#{item.name}" /></h3>
						</h:link>
						<p>Age: <h:outputText value="#{item.ageDays}" /> days - 
						Current Stage: <h:outputText value="#{item.stage.stageName}" /></p>
						<p:panelGrid columns="4" styleClass="invItemTable">
							<h:outputLabel value="Brew Date:" />
							<h:outputText value="#{item.dateBrew}" />
							<h:outputLabel value="Secondary Date:" />
							<h:outputText value="#{item.dateSecondary}" />
							<h:outputLabel value="Keg Date:" />
							<h:outputText value="#{item.dateKeg}" />
							<h:outputLabel value="Bottle Date:" />
							<h:outputText value="#{item.dateBottle}" />
						</p:panelGrid>
					</div>
					<div style="clear:both;"></div>
				</div>
			</ui:repeat>
		</ui:define>
	</ui:composition>
</body>
</html>