<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<f:metadata>
			<f:viewParam name="formulationId" value="#{brewingCreator.formulationId}" />
			<s:viewAction action="#{brewingCreator.loadFormulation}" />
		</f:metadata>
		<ui:define name="body">
			<h:link styleClass="breadcrumbLink" outcome="/recipes/formulation?faces-redirect=true" >
				&lt;- Back To <h:outputText value="#{brewingCreator.newBrewing.formulation.recipe.name}" /> -
				<h:outputText value="#{brewingCreator.newBrewing.formulation.name}" />
				<f:param name="id" value="#{brewingCreator.formulationId}" />
			</h:link>
			<p:panel id="createBrewingPanel" header="Create Brewing">
				<h:form id="createBrewingForm" prependId="false">
					<h:panelGrid columns="3" style="margin-bottom:8px;">
						<h:outputLabel for="dateBrew" value="Brew Date: " />
						<p:calendar id="dateBrew" mode="popup" value="#{brewingCreator.newBrewing.dateBrew}"
							pattern="yyyy-MM-dd" readonlyInput="true" navigator="true" style="width:180px;" />
						<p:message for="dateBrew" />
					</h:panelGrid>
					
					<div style="margin-bottom:8px;">
						<p:outputPanel id="createButtons">
							<p:commandButton id="saveBrewingButton" value="Create Brewing" action="#{brewingCreator.createBrewing}"
								disabled="#{brewingCreator.createButtonDisabled}" ajax="false" />
							<p:commandButton id="importBrewingButton" value="Import Brewing" action="#{brewingCreator.importBrewing}"
								disabled="#{brewingCreator.importButtonDisabled}" ajax="false" />
						</p:outputPanel>
					</div>
					
					<h3>Upload BeerTools File</h3>
					<p>If you upload a BeerTools file before saving this new brewing, you can import the brewing data from the
					BeerTools file. This will copy any data that can be stored in the brewing record from the BeerTools file.</p>
					
					<p:fileUpload id="brewingFileUpload" allowTypes="/\.btp$/" sizeLimit="2097152"
						fileUploadListener="#{brewingCreator.uploadListener}" update="createButtons" />
						
					<p:growl id="globalGrowl" sticky="false" globalOnly="true" life="2500" autoUpdate="true" />
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</body>
</html>