<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="body">
			<f:metadata>
				<f:viewParam name="offset" value="#{news.offset}" />
				<s:viewAction action="#{news.loadNewsItems}" />
			</f:metadata>
			
			<ui:repeat var="newsItem" value="#{news.newsItems}">
				<h2><h:outputText value="#{newsItem.heading}" /></h2>
				<p>
					Posted:
					<h:outputText value="#{newsItem.postDate}">
						<f:convertDateTime type="both" pattern="yyyy-MM-dd h:mm a" />
					</h:outputText>
				</p>
				<div class="biggerText">
					<div style="margin-bottom:32px;">
						<h:outputText value="#{newsItem.contents}" escape="false" />
					</div>
				</div>
			</ui:repeat>
			
			<ui:fragment rendered="#{news.renderMoreLink}">
				<h:link outcome="/news/index" value="More News Items ->">
					<f:param name="offset" value="#{news.nextOffset}" />
				</h:link>
			</ui:fragment>
		</ui:define>
	</ui:composition>
</body>
</html>