<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="menuItems">
			<ui:fragment rendered="#{sessionState.loggedInUser.privManagePhotos}">
				| <h:link id="createAlbumLink" value="Create Album" outcome="/photo/album">
					<f:param name="id" value="-1" />
				</h:link>
			</ui:fragment>
		</ui:define>
		<ui:define name="body">
			<h2>Manage Photos</h2>
			<p>Select an album from the list to view its contents.</p>
			<h:form id="albumListForm" prependId="false">
				<p:dataTable id="albumListTable" value="#{albumManager.albums}" var="album" styleClass="linkList">
					<f:facet name="header">Photo Albums</f:facet>
					<p:column>
						<f:facet name="header">Name</f:facet>
						<h:link outcome="/photo/album?faces-redirect=true">
							<f:param name="id" value="#{album.id}" />
							<h:outputText value="#{album.name}" />
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">Added</f:facet>
						<h:link outcome="/photo/album?faces-redirect=true">
							<f:param name="id" value="#{album.id}" />
							<h:outputText value="#{album.addedTime}">
								<f:convertDateTime pattern="yyyy-MM-dd h:mm a" />
							</h:outputText>
						</h:link>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>