<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{recipeEditor.editRecipeId}" />
			<s:viewAction action="#{recipeEditor.loadRecipe}" />
		</f:metadata>
		<ui:define name="body">
			<style type="text/css">
				.inpSize { width: 280px; }
				.spaceRight { margin-right: 8px; }
				.spaceBottom { margin-bottom: 16px; }
			</style>
			<p:panel header="Edit Recipe" style="margin-bottom: 16px;">
				<h:form id="editRecipeForm" prependId="false">
					<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
						<h:outputText value="Recipe Name: " />
						<p:inputText id="recipeName" value="#{recipeEditor.editedRecipe.name}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}" />
						<p:message for="recipeName" />
						
						<h:outputText value="Style: " />
						<p:inputText id="recipeStyle" value="#{recipeEditor.editedRecipe.style}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}" />
						<p:message for="recipeStyle" />
						
						<h:outputText value="Target OG: " />
						<p:inputText id="recipeTargetOG" value="#{recipeEditor.editedRecipe.targetOg}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}">
							<f:convertNumber pattern="#0.000"/>
						</p:inputText>
						<p:message for="recipeTargetOG" />
						
						<h:outputText value="Target FG: " />
						<p:inputText id="recipeTargetFG" value="#{recipeEditor.editedRecipe.targetFg}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}">
							<f:convertNumber pattern="#0.000"/>
						</p:inputText>
						<p:message for="recipeTargetFG" />
						
						<h:outputText value="Target IBU: " />
						<p:inputText id="recipeTargetIBU" value="#{recipeEditor.editedRecipe.targetIBU}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}" />
						<p:message for="recipeTargetIBU" />
						
						<h:outputText value="Target SRM: " />
						<p:inputText id="recipeTargetSRM" value="#{recipeEditor.editedRecipe.targetSRM}" styleClass="inpSize"
							readonly="#{recipeEditor.writable == false}" />
						<p:message for="recipeTargetSRM" />
					</h:panelGrid>
					
					<ui:fragment rendered="#{recipeEditor.writable}">
						<p:commandButton id="saveButton" value="Save Recipe" action="#{recipeEditor.saveRecipe}" update="@form, :formulationsForm" styleClass="spaceRight"/>
						<p:commandButton id="deleteButton" value="Delete Recipe" type="button" onclick="confirmDeleteDialog.show()" />
					</ui:fragment>
					
					<p:confirmDialog id="confirmDeleteDialogElement" widgetVar="confirmDeleteDialog" severity="alert"
						header="Delete Recipe"
						message="Deleting a recipe will delete all associated formulations and brewings, including any BeerTools files stored for them. Continue?">
						<p:commandButton id="deleteConfirmButton" value="Delete Recipe" action="#{recipeEditor.deleteRecipe}" ajax="false" />
						<p:commandButton id="deleteCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
					</p:confirmDialog>
				</h:form>
				<h3>Authors:</h3>
				<h:form id="authorsForm">
					<p:outputPanel id="authorList">
						<ul>
							<ui:repeat value="#{recipeEditor.editedRecipe.authors}" var="author">
								<li>
									<h:outputText value="#{author.name}" />
									<ui:fragment rendered="#{recipeEditor.writable}">
										 - <p:commandLink value="Remove" action="#{recipeEditor.removeAuthor}" update="@form">
											<f:setPropertyActionListener target="#{recipeEditor.selectedRemoveAuthor}" value="#{author.id}" />
										</p:commandLink>
									</ui:fragment>
								</li>
							</ui:repeat>
						</ul>
					</p:outputPanel>
					<ui:fragment rendered="#{recipeEditor.writable}">
						<h:panelGrid columns="3">
							<h:outputText value="Add Author" />
							<p:selectOneMenu id="selectAddAuthor" value="#{recipeEditor.selectedAddAuthor}" >
								<f:selectItem value="#{recipeEditor.noBrewerSelectionItem}" />
								<f:selectItems value="#{recipeEditor.brewerItems}" />
							</p:selectOneMenu>
							<p:commandButton id="addAuthorButton" value="Add" action="#{recipeEditor.addSelectedAuthor}" update="@form" />
						</h:panelGrid>
					</ui:fragment>
				</h:form>
			</p:panel>
			<h:form id="formulationsForm">
				<p:outputPanel id="formulationsPanel" rendered="#{recipeEditor.editedRecipe.id != null}">
					<p:panel header="Formulations">
						<p>Click a formulation in the list below to view details and brewings.</p>
						<p:dataTable id="formulationsTable" value="#{recipeEditor.editedRecipe.formulations}" var="formulation"
							styleClass="linkList" style="margin-bottom:16px;">
							<p:column>
						        <f:facet name="header">Name</f:facet>
						        <h:link outcome="/recipes/formulation?faces-redirect=true">
						        	<f:param name="id" value="#{formulation.id}" />
									<h:outputText value="#{formulation.name}" />
								</h:link>
						    </p:column>
						    <p:column>
						    	<f:facet name="header">Target Size</f:facet>
						    	<h:link outcome="/recipes/formulation?faces-redirect=true">
						        	<f:param name="id" value="#{formulation.id}" />
						    		<h:outputText value="#{formulation.targetSizeGallons}" />
						    	</h:link>
						    </p:column>
						    <p:column>
						    	<f:facet name="header">Description</f:facet>
						    	<h:link outcome="/recipes/formulation?faces-redirect=true">
						        	<f:param name="id" value="#{formulation.id}" />
						    		<h:outputText value="#{formulation.description}" />
						    	</h:link>
						    </p:column>
						</p:dataTable>
						
						<ui:fragment rendered="#{recipeEditor.writable}">
							<p:button id="newForumlationButton" value="Add Formulation" outcome="/recipes/formulation?faces-redirect=true">
								<f:param name="id" value="-1" />
								<f:param name="recipeId" value="#{recipeEditor.editedRecipe.id}" />
							</p:button>
						</ui:fragment>
					</p:panel>
				</p:outputPanel>
			</h:form>

			<p:growl sticky="false" globalOnly="true" life="2500" autoUpdate="true" />
		</ui:define>
	</ui:composition>
</body>
</html>